#### Fulfillment of Coursera projects

<h2> <u> Table of Contents </u> </h2>

##### [1. Question 1](#Question-1.)  

##### [2. Question 2](#Question-2)

#### Question 1.

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [4]:
html = requests.get(url) #getting html of the webpage

soup = BeautifulSoup(html.text) ## converting the html to soup element

In [5]:
table = soup.find_all('table', class_='wikitable sortable') ##finding table we need

In [6]:
header = [x.text.replace('\n', '') for x in table[0].tr.find_all('th')]  # finding header
header

['Postal Code', 'Borough', 'Neighborhood']

In [7]:
#creating pandas data frame 
df = pd.DataFrame(columns=header)
data = {}
for tr in table[0].find_all('tr')[1:]:  #looping through 2 row to end
    td = [x.text.replace('\n', '') for x in tr.find_all('td')] #looping through all the table data in table row
    data['Postal Code'] = td[0]
    data['Borough'] = td[1]
    data['Neighborhood'] = td[2]
    df = df.append(data, ignore_index=True) #appending new row to existing data frame

In [8]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']  #renameing the columns

In [9]:
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [10]:
#removing columns with Borough value "Not assigned"
df_clean = df[df.Borough != 'Not assigned']

In [31]:
df_clean[list(df_clean.groupby(['PostalCode'])['Neighborhood'].count() != 1)]  #no duplicate value of Postal Code

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [12]:
df_clean.reset_index(drop=True,inplace=True)

In [32]:
df_clean.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [37]:
print(f' There are {df_clean.shape[0]} rows in the data frame')

 There are 103 rows in the data frame

#### Question 2